<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/cotravel.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotravel Dribbble Test</title>
    <meta name="description" content="Build of a Dribbble design" />
</head>
<body>
    <main class="main" id="main">
        <section class="overlay" id="overlay">
            <dialog class="overlay-design-dialog" id="overlay-design-dialog">
                <p>Desktop developed from <a href="http://dribbble.com/shots/20663985-CoTravel-travel-service-website">this design</a>.
                    Mobile and tablet design interpreted.</p>
                <form method="dialog">
                    <button class="btn">Ok</button>
                </form>
            </dialog>
        </section>
        <section class="home-grid" id="home-grid">
            <div class="home-grid-logo" id="home-grid-logo">
                <!-- <picture class="alert">
                    <source media="(min-width: 800px)" srcset="/img/cotravel/cotravel-logo.png">
                    <img src="/img/cotravel/cotravel-logo-mobile.png" alt="Cotravel">
                </picture> -->
                <img class="alert" src="/img/cotravel/cotravel-logo.svg" alt="Cotravel">
            </div>
            <div class="home-grid-sign-in" id="home-grid-sign-in">
                <a href="#" class="link alert" id="alert">Sign in</a>
            </div>
            <nav class="home-grid-menu" id="home-grid-menu">
                <button id="home-grid-menu-burger" class="home-grid-menu-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="home-grid-menu-list" id="home-grid-menu-list">
                    <li class="home-grid-menu-list-item alert" id="alert">Destinations</li>
                    <li class="home-grid-menu-list-item alert" id="alert">Members</li>
                    <li class="home-grid-menu-list-item alert" id="alert">About Us</li>
                    <li class="home-grid-menu-list-item alert" id="alert">Testimonials</li>
                    <li class="home-grid-menu-list-item alert" id="alert">Gallery</li>
                    <li class="home-grid-menu-list-item alert" id="alert">Sign In</li>
                </ul>
            </nav>
            <div class="home-grid-text" id="home-grid-text">
                <h1 class="home-grid-text-title" id="home-grid-text-title">Explore <span class="yellow-text">the world with exciting</span> people</h1>
                <p class="home-grid-text-intro" id="home-grid-text-intro">We help you to find the ideal company for your joint trip</p>
            </div>
            <div class="home-grid-explore" id="home-grid-explore">
                <button class="home-grid-explore-btn btn alert" id="alert">Start exploring</button>
            </div>
            <div class="home-grid-boxes" id="home-grid-boxes">
                <div class="home-grid-boxes-box">
                    <p class="number">01</p>
                    <h3 class="title">Choose a place, activity and time</h3>
                    <p class="description">Everyone can choose a root and activity according to his taste and possibilities.</p>
                </div>
                <div class="home-grid-boxes-box">
                    <p class="number">02</p>
                    <h3 class="title">Find people who have the same travel plans</h3>
                    <p class="description">You can find people with the same interests, who know the routes you’ve never traveled.</p>
                </div>
                <div class="home-grid-boxes-box">
                    <p class="number">03</p>
                    <h3 class="title">Start chatting and go on a joint adventure</h3>
                    <p class="description">Discuss the details of your trip and have a great time! You might find a great friend for life.</p>
                </div>
            </div>
        </section>
    </main>
    <script type="text/javascript" src="/js/cotravel.js"></script>
</body>