<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/barcs-tech-slider-18-11-22.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <title>Duplicates</title>
    <meta name="description" content="Duplicates of built site elements">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id="main_content">
        <div class="dual_card_module">
            <h1>People and Projects</h1>
            <p>From building solutions at scale to maintaining 
                superior systems, all while driving change: we want 
                to share the stories of our inspirational colleagues. 
                We’re united in a common purpose of harnessing tech to 
                empower our clients and customers, but every career at 
                Barclays is different. Learn about our inclusive culture 
                and the drive of our colleagues across the globe.
            </p>
            <div class="cards">
                <div class="card left_card">
                    <h3>Sustainable technology. It's happening here.</h3>
                    <p>Technologists at Barclays impact lives. We have a 
                        pivotal role to play in helping the global economy 
                        transform to address the challenges of climate change. 
                        That’s why we’ve created the Technology Office of 
                        sustainability, which puts sustainability at the 
                        heart of decision making across our teams. Find out more.
                    </p>
                    <a href="https://google.com" target="_blank">
                        Learn more
                    </a>
                </div>
                <div class="card right_card">
                    <h3>The nanosecond that makes a difference. It’s happening here.</h3>
                    <p>In the Markets teams at Barclays, success is measured 
                        by the largest and smallest of margins. Billions of 
                        dollars. Millions of transactions. Hundreds of 
                        millions of datapoints. And, crucially, the nanoseconds 
                        it takes our systems to complete a trade. Find out more.
                    </p>
                    <a href="https://google.com" target="_blank">
                        Learn more
                    </a>
                </div>
            </div>
            <p class="from"> replicated from <a href="https://barclaysv2.runmytests.com/technology" target="_blank">this page</a> (no longer present)</p>
            <br>
        </div>
        <div class="separator"></div>
        <div class="text_image">
            <div class="flex_container">
                <div class="text_left">
                    <h1>About Barclays</h1>
                    <p>We’re a global, vital and highly 
                    respected financial organisation with 
                    an inspiring Purpose. Operating in 39 
                    countries and employing around 81,000 
                    people across the world, we help communities, 
                    individuals and businesses thrive. And we’ve 
                    created financial solutions and technology 
                    that the world now takes for granted. A career 
                    with us can offer incredible variety, depth and 
                    breadth of experience, and the chance to learn 
                    from some of the best minds in technology and 
                    finance.
                    </p>
                    <p>To find out more about Barclays' strategy 
                    please click 
                    <a href="https://google.com" target="_blank" rel="noopener noreferrer">
                    here</a>.
                    </p>
                </div>
                <div class="image_right">
                    <img src="../img/background/background--barclays-friends.jpg" alt="Barclays Friends">
                </div>
            </div>
            <p class="from"> replicated from <a href="https://barclaysv2.runmytests.com/about-us" target="_blank">this page</a></p>
            <br>
        </div>
        <div class="separator"></div>
        <!-- CSS in css\barcs-tech-slider-18-11-22.css -->
        <div class="barcs_tech_slider" id="barcs_tech_slider">
            <h1>Tech in action</h1>
            <p class="tech_slider_intro margin-bottom-50">From building solutions at scale to maintaining superior systems, all while driving change: we want to share the stories of our inspirational colleagues. We’re united in a common purpose of harnessing tech to empower our clients and customers, but every career at Barclays is different. Learn about our inclusive culture and the drive of our colleagues across the globe. To read more stories about Barclays Technology, <a href="http://search.jobs.barclays/technology" target="_blank">click here.</a></p>
            <div class="tech-slider">
                <div class="tech_slider_slide slide_1">
                    <h3>Sustainable technology. <br>It's happening <br>here.</h3>
                    <a class="btn-white" href="/itshappeninghere-techsustainability">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_2">
                    <h3>The nanosecond that makes a difference. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-marketstechnology">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_3">
                    <h3>21m customer transactions every Tuesday. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-commandcentre">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_4">
                    <h3>The frontline of cyberwarfare. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-cybersecurity">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_5">
                    <h3>Democratising data. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-democratisingdata">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_6">
                    <h3>Tech with real world impact. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-financialassistance">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_7">
                    <h3>Engineering excellence. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-engineeringexcellence">Learn more</a>
                </div>
            </div>
            <div class="slider-controls">
                <div id="prev"></div>
                <div id="slick-dots"></div>
                <div id="next"></div>
            </div>
            <p class="from"> built for <a href="https://barclaysv2.runmytests.com/technology" target="_blank">this page</a></p>
            <br>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
<footer class="footer">
    <!-- comment -->
</footer>