<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="../css/hamburg.css" />
  <title>Barclays Hamburg</title>
  <meta name="description" content="Duplicates of Barclays Hamburg page" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <main class="main" id="main">
    <section class="header-section max-width-container" id="header-section">
      <div class="header-centre" id="header-centre">
        <div class="header-text" id="header-text">
          <h1 id="header-title">Welcome to Barclays Hamburg</h1>
          <p id="header-description">
            Hamburg is home to Barclays Consumer Bank Europe. For more than 30
            years, we have been offering consumers in Germany innovative payment
            and financing solutions – from credit cards to instalment loans. Our
            well-connected offices are located in Bahrenfeld, close to the city
            centre. They are now home to more than 700 employees who focus on
            millions of our customers every day.
          </p>
        </div>
        <img
          class="header-img"
          src="img/hamburg/header-img.png"
          alt="Man talking on the phone"
        />
      </div>
    </section>
    <section class="content-section content-container" id="content-section">
      <div
        class="language-toggle content-container-section"
        id="language-toggle"
        active="english"
      >
        <div class="language-toggle-inner" id="language-toggle-inner"></div>
        <div class="language-toggle-text">
          <p class="active" id="language-toggle-text-english">English</p>
          <p class="inactive" id="language-toggle-text-german">German</p>
        </div>
      </div>
      <div class="job-areas content-container-section" id="job-areas">
        <h2 id="job-areas-title">Job areas</h2>
        <p id="job-areas-description">
          Learn more about the different job families we recruit into in
          Hamburg.
        </p>
        <div class="job-areas-cards" id="job-areas-cards">
          <!-- job cards -->
          <div class="job-areas-cards-card" id="customer-service-card">
            <div class="job-areas-cards-card-img">
              <img src="img/hamburg/icons/customer-service.svg" alt="" />
            </div>
            <p id="job-areas-title-1">Customer Service</p>
            <div class="job-areas-cards-card-img action">
              <img src="img/hamburg/icons/plus-button.svg" alt="" />
            </div>
          </div>
          <div
            class="job-areas-cards-overlay hide"
            id="customer-service-overlay"
          >
            <div class="job-areas-cards-overlay-img">
              <img src="img/hamburg/icons/customer-service.svg" alt="" />
            </div>
            <div class="job-areas-cards-overlay-text">
              <p id="job-areas-title-1o" class="fw-bold">Customer Service</p>
              <p id="job-areas-description-1">
                Our Customer Service Teams provide an end-to-end service to all
                of our customers including customer on-boarding, customer care,
                complaints handling, fraud/chargeback, financial crime,
                collections & recoveries for all Barclays Germany product lines.<br>
                In collaboration with our technology teams, they’re constantly
                working make our customer services smarter, easier and more user
                friendly.
              </p>
              <button class="btn-blue">Search roles</button>
            </div>
            <img
              class="job-areas-cards-overlay-close"
              id="customer-service-overlay-close"
              src="img/hamburg/icons/close-button.svg"
              alt="Close icon for the overlay"
            />
          </div>
          <div class="job-areas-cards-card" id="information-technology-card">
            <div class="job-areas-cards-card-img">
              <img src="img/hamburg/icons/information-technology.svg" alt="" />
            </div>
            <p id="job-areas-title-2">Information Technology & Digital Transformation</p>
            <div class="job-areas-cards-card-img action">
              <img src="img/hamburg/icons/plus-button.svg" alt="" />
            </div>
          </div>
          <div
            class="job-areas-cards-overlay hide"
            id="information-technology-overlay"
          >
            <div class="job-areas-cards-overlay-img">
              <img src="img/hamburg/icons/information-technology.svg" alt="" />
            </div>
            <div class="job-areas-cards-overlay-text">
              <p id="job-areas-title-2o" class="fw-bold">
                Information Technology & Digital Transformation
              </p>
              <p id="job-areas-description-2">
                Our Tech and Transformation Teams are core experts for all our IT solutions (e.g. Barclays customer app, website, internal systems, soft- and hardware) and divided into the areas “RUN” and “CHANGE”.<br>
                On one hand they ensure that all colleagues and customers can work with our IT solutions (“RUN”). On the other, they are continuously working on digitalising and optimising our processes, as well as IT and product solutions (“CHANGE”).
              </p>
              <button class="btn-blue">Search roles</button>
            </div>
            <img
              class="job-areas-cards-overlay-close"
              id="information-technology-overlay-close"
              src="img/hamburg/icons/close-button.svg"
              alt="Close icon for the overlay"
            />
          </div>
          <div class="job-areas-cards-card" id="sales-marketing-card">
            <div class="job-areas-cards-card-img">
              <img src="img/hamburg/icons/sales-marketing.svg" alt="" />
            </div>
            <p id="job-areas-title-3">Sales & Marketing</p>
            <div class="job-areas-cards-card-img action">
              <img src="img/hamburg/icons/plus-button.svg" alt="" />
            </div>
          </div>
          <div
            class="job-areas-cards-overlay hide"
            id="sales-marketing-overlay"
          >
            <div class="job-areas-cards-overlay-img">
              <img src="img/hamburg/icons/sales-marketing.svg" alt="" />
            </div>
            <div class="job-areas-cards-overlay-text">
              <p id="job-areas-title-3o" class="fw-bold">Sales & Marketing</p>
              <p id="job-areas-description-3">
                Our Sales & Marketing Department consists of the Brand, Customer Engagement, Digital Experience and Sales teams. We create solutions that are customer focused and innovative.<br>
                This includes the development of brand and communication activities, the constant enhancement of our digital distribution channels – also in co-operation with 3rd party distribution - to improve our sales success partners, the deepening of the relationships with our existing customers, the continuous development of our Online Banking and Banking App and the end-to-end optimisation of our customer experience.
              </p>
              <button class="btn-blue">Search roles</button>
            </div>
            <img
              class="job-areas-cards-overlay-close"
              id="sales-marketing-overlay-close"
              src="img/hamburg/icons/close-button.svg"
              alt="Close icon for the overlay"
            />
          </div>
          <div class="job-areas-cards-card" id="comms-legal-card">
            <div class="job-areas-cards-card-img">
              <img src="img/hamburg/icons/comms-legal.svg" alt="" />
            </div>
            <p id="job-areas-title-4">
              Communications, Compliance, Credit Risk, Finance, Human Resources
              & Legal
            </p>
            <div class="job-areas-cards-card-img action">
              <img src="img/hamburg/icons/plus-button.svg" alt="" />
            </div>
          </div>
          <div class="job-areas-cards-overlay hide" id="comms-legal-overlay">
            <div class="job-areas-cards-overlay-img">
              <img src="img/hamburg/icons/comms-legal.svg" alt="" />
            </div>
            <div class="job-areas-cards-overlay-text">
              <p id="job-areas-title-4o" class="fw-bold">
                Communications, Compliance, Credit Risk, Finance, Human
                Resources & Legal
              </p>
              <p id="job-areas-description-4">
                Supporting functions such as Communications, Compliance, Credit Risk, Finance, Human Resources & Legal help all the other departments of our bank in their daily business and with the implementation of projects.<br>
                They are important components in almost all company processes and contribute essentially to our company’s culture and objectives.
              </p>
              <button class="btn-blue">Search roles</button>
            </div>
            <img
              class="job-areas-cards-overlay-close"
              id="comms-legal-overlay-close"
              src="img/hamburg/icons/close-button.svg"
              alt="Close icon for the overlay"
            />
          </div>
          <div class="job-areas-cards-card" id="product-management-card">
            <div class="job-areas-cards-card-img">
              <img src="img/hamburg/icons/product-management.svg" alt="" />
            </div>
            <p id="job-areas-title-5">Product Management & Strategic Analytics</p>
            <div class="job-areas-cards-card-img action">
              <img src="img/hamburg/icons/plus-button.svg" alt="" />
            </div>
          </div>
          <div
            class="job-areas-cards-overlay hide"
            id="product-management-overlay"
          >
            <div class="job-areas-cards-overlay-img">
              <img src="img/hamburg/icons/product-management.svg" alt="" />
            </div>
            <div class="job-areas-cards-overlay-text">
              <p id="job-areas-title-5o" class="fw-bold">Product Management & Strategic Analytics</p>
              <p id="job-areas-description-5">
                Our Product Management Teams drive customer focused and innovative product solutions that are of immense importance for the commercial success and the ongoing digitalisation of our bank.<br>
                These solutions contain all of our products and services such as credit cards, instalment loans, instalment purchases and call money investments.<br>
                Our Strategic Analytics Team develops, maintains and works on strategies to optimise profit within the business objectives and risk appetite constraints.
              </p>
              <button class="btn-blue">Search roles</button>
            </div>
            <img
              class="job-areas-cards-overlay-close"
              id="product-management-overlay-close"
              src="img/hamburg/icons/close-button.svg"
              alt="Close icon for the overlay"
            />
          </div>
        </div>
      </div>
      <div class="benefits max-width-container margin-bottom-50">
        <div class="benefits-content content-container-section">
          <h2 id="benefits-title">Benefits</h2>
          <p id="benefits-description">
            Discover the different benefits we offer to colleagues in Barclays
            Europe.
          </p>
          <div class="benefits-content-cards" id="job-areas-cards">
            <!-- benefit cards -->
            <div class="benefits-content-cards-card" id="arena-tickets-card">
              <div class="benefits-content-cards-card-img">
                <img src="img/hamburg/icons/arena-tickets.svg" alt="" />
              </div>
              <p id="benefits-title-1">Arena tickets</p>
              <div class="benefits-content-cards-card-img action">
                <img src="img/hamburg/icons/plus-button.svg" alt="" />
              </div>
            </div>
            <div
              class="benefits-content-cards-overlay hide"
              id="arena-tickets-overlay"
            >
              <div class="benefits-content-cards-overlay-img">
                <img src="img/hamburg/icons/arena-tickets.svg" alt="" />
              </div>
              <div class="benefits-content-cards-overlay-text">
                <p id="benefits-title-1o" class="fw-bold">Arena Tickets</p>
                <p id="benefits-description-1">
                    As a name sponsor of the Barclays Arena, we offer each of our employees the opportunity to receive up to 8 tickets per season for various events.
                </p>
              </div>
              <img
                class="benefits-content-cards-overlay-close"
                id="arena-tickets-overlay-close"
                src="img/hamburg/icons/close-button.svg"
                alt="Close icon for the overlay"
              />
            </div>
            <div class="benefits-content-cards-card" id="employee-credit-card">
              <div class="benefits-content-cards-card-img">
                <img src="img/hamburg/icons/employee-credit.svg" alt="" />
              </div>
              <p id="benefits-title-2">Employee credit</p>
              <div class="benefits-content-cards-card-img action">
                <img src="img/hamburg/icons/plus-button.svg" alt="" />
              </div>
            </div>
            <div
              class="benefits-content-cards-overlay hide"
              id="employee-credit-overlay"
            >
              <div class="benefits-content-cards-overlay-img">
                <img src="img/hamburg/icons/employee-credit.svg" alt="" />
              </div>
              <div class="benefits-content-cards-overlay-text">
                <p id="benefits-title-2o" class="fw-bold">Employee Credit</p>
                <p id="benefits-description-2">
                    As a Barclays employee, you can apply for credit cards that are exempt from annual fees or take advantage of installment loans with a fixed special interest rate.
                </p>
              </div>
              <img
                class="benefits-content-cards-overlay-close"
                id="employee-credit-overlay-close"
                src="img/hamburg/icons/close-button.svg"
                alt="Close icon for the overlay"
              />
            </div>
            <div class="benefits-content-cards-card" id="community-days-card">
              <div class="benefits-content-cards-card-img">
                <img src="img/hamburg/icons/community-days.svg" alt="" />
              </div>
              <p id="benefits-title-3">Community days</p>
              <div class="benefits-content-cards-card-img action">
                <img src="img/hamburg/icons/plus-button.svg" alt="" />
              </div>
            </div>
            <div
              class="benefits-content-cards-overlay hide"
              id="community-days-overlay"
            >
              <div class="benefits-content-cards-overlay-img">
                <img src="img/hamburg/icons/community-days.svg" alt="" />
              </div>
              <div class="benefits-content-cards-overlay-text">
                <p id="benefits-title-3o" class="fw-bold">Community Days</p>
                <p id="benefits-description-3">
                    Each employee receives two working days per year for selected community activities. For example, we are strongly committed to exceptional social and sustainability projects and initiatives.
                </p>
              </div>
              <img
                class="benefits-content-cards-overlay-close"
                id="community-days-overlay-close"
                src="img/hamburg/icons/close-button.svg"
                alt="Close icon for the overlay"
              />
            </div>
            <div
              class="benefits-content-cards-card"
              id="personal-development-card"
            >
              <div class="benefits-content-cards-card-img">
                <img src="img/hamburg/icons/personal-development.svg" alt="" />
              </div>
              <p id="benefits-title-4">Personal development</p>
              <div class="benefits-content-cards-card-img action">
                <img src="img/hamburg/icons/plus-button.svg" alt="" />
              </div>
            </div>
            <div
              class="benefits-content-cards-overlay hide"
              id="personal-development-overlay"
            >
              <div class="benefits-content-cards-overlay-img">
                <img src="img/hamburg/icons/personal-development.svg" alt="" />
              </div>
              <div class="benefits-content-cards-overlay-text">
                <p id="benefits-title-4o" class="fw-bold">Personal Development</p>
                <p id="benefits-description-4">
                    Barclays offers employees the opportunity to further develop according to their individual strengths. For example, during a varied training programme or an internal internship in another area. Solutions can be found for different situations with our flexitime model and part-time employment offers, as well as sabbaticals. In addition, we actively promote international cooperation with colleagues from different countries.
                </p>
              </div>
              <img
                class="benefits-content-cards-overlay-close"
                id="personal-development-overlay-close"
                src="img/hamburg/icons/close-button.svg"
                alt="Close icon for the overlay"
              />
            </div>
            <div class="benefits-content-cards-card" id="flexible-budget-card">
              <div class="benefits-content-cards-card-img">
                <img src="img/hamburg/icons/flexible-budget.svg" alt="" />
              </div>
              <p id="benefits-title-5">Flexible budget</p>
              <div class="benefits-content-cards-card-img action">
                <img src="img/hamburg/icons/plus-button.svg" alt="" />
              </div>
            </div>
            <div
              class="benefits-content-cards-overlay hide"
              id="flexible-budget-overlay"
            >
              <div class="benefits-content-cards-overlay-img">
                <img src="img/hamburg/icons/flexible-budget.svg" alt="" />
              </div>
              <div class="benefits-content-cards-overlay-text">
                <p id="benefits-title-5o" class="fw-bold">Flexible Budget</p>
                <p id="benefits-description-5">
                    Barclays offers a flexible budget for individual needs, which is either paid out directly with the salary or can be used for specific purposes (e.g. parking, capital-forming benefits, deferred compensation for retirement provision).
                </p>
              </div>
              <img
                class="benefits-content-cards-overlay-close"
                id="flexible-budget-overlay-close"
                src="img/hamburg/icons/close-button.svg"
                alt="Close icon for the overlay"
              />
            </div>
            <div class="benefits-content-cards-card" id="company-pension-card">
              <div class="benefits-content-cards-card-img">
                <img src="img/hamburg/icons/company-pension.svg" alt="" />
              </div>
              <p id="benefits-title-6">Company pension</p>
              <div class="benefits-content-cards-card-img action">
                <img src="img/hamburg/icons/plus-button.svg" alt="" />
              </div>
            </div>
            <div
              class="benefits-content-cards-overlay hide"
              id="company-pension-overlay"
            >
              <div class="benefits-content-cards-overlay-img">
                <img src="img/hamburg/icons/company-pension.svg" alt="" />
              </div>
              <div class="benefits-content-cards-overlay-text">
                <p id="benefits-title-6o" class="fw-bold">Company Pension</p>
                <p id="benefits-description-6">
                    Barclays pays a high share for a company pension plan; only a small personal contribution is mandatory. Barclays also subsidises employee-funded pension plans in the form of deferred compensation. This means tax advantages compared to payments into private life or pension insurances.
                </p>
              </div>
              <img
                class="benefits-content-cards-overlay-close"
                id="company-pension-overlay-close"
                src="img/hamburg/icons/close-button.svg"
                alt="Close icon for the overlay"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="diversity max-width-container margin-bottom-50">
        <div class="diversity-content content-container-section">
          <div class="diversity-content-img">
            <img src="img/hamburg/diversity-imgs.png" alt="" />
          </div>
          <div class="diversity-content-text">
            <h2 id="diversity-title-1">Diversity makes us stronger</h2>
            <p id="diversity-description-1">
              The personal backgrounds of all colleagues are just as diverse as
              the tasks they deliver. We strongly believe that being a diverse,
              inclusive and equitable employer makes us better for our
              customers, clients and colleagues. That's why we promote
              diversity, equity and inclusion throughout the company and support
              all colleagues in reaching their full potential at all times. We
              offer flexible working time models, hybrid working and many other
              benefits.
            </p>
            <h2 id="diversity-title-2">Rich in possibilities</h2>
            <p id="diversity-description-2">
              Barclays is a bank. However, the education and skills we are
              looking for are more diverse than you might think. We are looking
              for new colleagues for a variety of roles, with opportunities to
              develop yourself. From Customer Service, Product Management,
              Marketing, Legal & Compliance to IT and Digital Transformation:
              you can help shape the future of payment and finance.
            </p>
          </div>
        </div>
      </div>
      <div class="meet-our-people max-width-container margin-bottom-50">
        <div class="meet-our-people-content content-container-section">
          <h2 id="meet-our-people-title">Meet our people</h2>
          <p id="meet-our-people-description">
            There are no limits to development at Barclays. Learn more about our
            employees' success stories and their journey at Barclays. You too
            can become part of this special company culture.
          </p>
          <div class="meet-our-people-content-slider">
            <div class="meet-our-people-content-slider-slide">
              <div class="meet-our-people-content-slider-slide-left">
                <img src="img/hamburg/christina-hamburg.jpeg" alt="" />
                <p>
                  “What I appreciate most is that if you are open-minded and
                  recognize opportunities, you never do the same thing at
                  Barclays in any given year. You can always tackle new topics
                  proactively and thus advance yourself and the company. My
                  manager actively supported me here and accompanied my
                  development.”
                </p>
              </div>
              <div class="meet-our-people-content-slider-slide-right">
                <div class="meet-our-people-content-slider-slide-right-inner">
                  <p class="fw-bold">Christina, Head of Customer Campaign</p>
                  <p>
                    I started out in the classic way. I studied business
                    administration, then got into management consulting, and
                    joined Barclays as a business design analyst in 2014. I did
                    the Scrum Master and had a lot of fun driving Scrum forward
                    for two years. This caught the eye of another department and
                    I was advised to apply to Sales & Quality as a team leader.
                    So I got my first team responsibility with 15 employees,
                    with whom I achieved a lot - for us and our customers. My
                    manager and the HR department actively supported me here and
                    accompanied my development.
                  </p>
                  <p>
                    In addition, while I was working, I completed a two year
                    course of study and received a scholarship for the Young
                    Women Leadership Program. Human Resources was actively
                    supportive here and I was able to move to the team leader
                    position at Commercial Marketing. I then spent one year
                    leading one of the most important projects at Barclays for
                    the marketing division. Today, I'm a team leader in Customer
                    Campaigns.
                  </p>
                </div>
              </div>
            </div>
            <div class="meet-our-people-content-slider-slide">
              <div class="meet-our-people-content-slider-slide-left">
                <img src="img/hamburg/denise-hamburg.png" alt="" />
                <p>
                  “My career at Barclays has already been very much defined by
                  my mentality and proactivity. The mix of curiosity to learn
                  new things and the ability to step out of my comfort zone and
                  take advantage of opportunities has defined my career - and
                  Barclays has supported, encouraged and promoted me in this.”
                </p>
              </div>
              <div class="meet-our-people-content-slider-slide-right">
                <div class="meet-our-people-content-slider-slide-right-inner">
                  <p class="fw-bold">
                    Denise, VP Digital Customer Service Transformation
                  </p>
                  <p>
                    I started at Barclays as a temporary employee in Application
                    Processing in 2002. I liked the company, the work was fun,
                    and a position became available. I applied and took the job.
                    My curiosity for new things at Barclays was piqued – I
                    wanted to grow with the company. I then took the opportunity
                    to move into dunning Customer Service and had my first
                    contact with marketing. And I wanted more. So I went for
                    evening studies in Marketing Communications, plus a
                    marketing internship with Barclays’ support. Setting up and
                    expanding online marketing sales became my passion.
                  </p>
                  <p>
                    Being actively involved and taking on additional
                    responsibility and tasks helped me make it to the manager
                    level. With renewed motivation, I added a Business
                    Administration degree and a bachelor's degree to achieve my
                    further goals. Now, I work in the COO area with my own team
                    and can shape digital transformation.
                  </p>
                </div>
              </div>
            </div>
            <div class="meet-our-people-content-slider-slide">
              <div class="meet-our-people-content-slider-slide-left">
                <img src="img/hamburg/konstantin-hamburg.jpeg" alt="" />
                <p>
                  “Is it possible to reconcile family and career? At Barclays,
                  I've found the perfect employer. For the past seven years,
                  it's been an ideal fit. I can take care of the family, advance
                  my career at Barclays, and I've even been able to get a second
                  degree on top of that.”
                </p>
              </div>
              <div class="meet-our-people-content-slider-slide-right">
                <div class="meet-our-people-content-slider-slide-right-inner">
                  <p class="fw-bold">
                    Konstantin, Head of Commercial Optimisation
                  </p>
                  <p>
                    My tasks at Barclays are always an exciting challenge for
                    me. At its core, I deal with the question: How can the
                    bank's earnings potential be increased? Since I studied
                    Business Administration and I’m interested in business
                    processes at banks, the current job is right up my alley.
                    It's all about interest rate adjustments or optimising the
                    product range. I started at Barclays in the change area as a
                    Business Design Analyst in 2013. There I worked with many
                    departments and got to know the system and process
                    infrastructure in detail.
                  </p>
                  <p>
                    This allowed me to lead many exciting, innovative projects.
                    For example, the digitisation of the application process. In
                    2014, I moved to Product Management, where I managed
                    exciting projects in the Loans and Deposits department. Five
                    years later I had the opportunity to build a new Product
                    Management team in 'Commercial Optimisation'. We are a great
                    and successful team and are launching many new measures.
                  </p>
                </div>
              </div>
            </div>
            <div class="meet-our-people-content-slider-slide">
              <div class="meet-our-people-content-slider-slide-left">
                <img src="img/hamburg/timo-hamburg.png" alt="" />
                <p>
                  “I’ve been very lucky in my career at Barclays. But I’ve also
                  earned it. If you want to develop, it’s important to think
                  outside the box in your line of work. In my case, that was
                  interdisciplinary exciting projects and that I built up a
                  network across the different departments.”
                </p>
              </div>
              <div class="meet-our-people-content-slider-slide-right">
                <div class="meet-our-people-content-slider-slide-right-inner">
                  <p class="fw-bold">
                    Timo, Senior Manager Financial Crime Compliance
                  </p>
                  <p>
                    Coming to Barclays as a trained cook. Sounds unusual. But
                    it’s a fit. After working as a chef, I wanted to study and
                    got a student job in the Fraud department in 2009. I enjoyed
                    that a lot and was fully committed. My team leader, who was
                    in the process of building a new team, asked me if I would
                    like to do more. I did. After a year, the student job turned
                    into a permanent position. Next came a big project where I
                    worked very well with an English colleague.
                  </p>
                  <p>
                    Then I got another offer from a team leader. Here it was
                    about customer communication in cases of fraud and the whole
                    process documentation. At this job, the Compliance
                    department noticed me and I got the chance to take a job
                    there. I still work here today and take over responsibility
                    for financial crime prevention.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="meet-our-people-content-navigation">
            <div class="meet-our-people-content-navigation-arrows"></div>
            <div class="meet-our-people-content-navigation-dots"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="js/hamburg.js"></script>
</body>
