<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/birthday.css">
    <title>Happy Birthday!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <main>
        <section class="intro full-container" id="intro">
            <div class="intro-container content-container">
                <div class="text-container">
                    <h1>Happy 60th Birthday!</h1>
                    <p>As you know we, your children, love you very much, but love only goes so far so let’s get down to the real business... PRESENTS!</p>
                    <p>For a special birthday we present you with a special gift, but first some questions to answer...</p>
                </div>
                <a href="#q1" id="start-btn">Let's begin!</a>
            </div>
        </section>
        <section class="q1 full-container" id="q1">
            <div class="q1-container content-container">
                <div class="text-container">
                    <h1>What sweet do you love the most?</h1>
                    <p>Like your kiddlywinks you've got a real sweet tooth, but which of the below do you prefer?</p>
                </div>
                <div class="button-container">
                    <a class="q1-btn" country="portugal" href="#q2">Pastel de Nata</a>
                    <a class="q1-btn" country="italy" href="#q2">Cannoli</a>
                    <a class="q1-btn" country="england" href="#q2">Scones</a>
                    <a class="q1-btn" country="france" href="#q2">Mille-feuille</a>
                </div>
            </div>
        </section>
        <section class="q2 full-container" id="q2">
            <div class="q2-container content-container">
                <div class="text-container">
                    <h1>How do you like to travel?</h1>
                    <p>We know you love the Eurostar, but we've got a few other options you might enjoy too, which do you prefer?</p>
                </div>
                <div class="button-container">
                    <a class="q2-btn" country="portugal" href="#q3">Plane</a>
                    <a class="q2-btn" country="italy" href="#q3">Plane with Leo</a>
                    <a class="q2-btn" country="england" href="#q3">Car</a>
                    <a class="q2-btn" country="france" href="#q3">Eurostar</a>
                </div>
            </div>
        </section>
        <section class="q3 full-container" id="q3">
            <div class="q3-container content-container">
                <div class="text-container">
                    <h1>What's your favourite food?</h1>
                    <p>Nothing better than filling your belly, but how do you prefer to fill it?</p>
                </div>
                <div class="button-container">
                    <a class="q3-btn" country="portugal" href="#q4">Bacalhau</a>
                    <a class="q3-btn" country="italy" href="#q4">Frutta di Mare</a>
                    <a class="q3-btn" country="england" href="#q4">Fish and Chips</a>
                    <a class="q3-btn" country="france" href="#q4">Bouillabaisse</a>
                </div>
            </div>
        </section>
        <section class="q4 full-container" id="q4">
            <div class="q4-container content-container">
                <div class="text-container">
                    <h1>Who do you prefer to spend your time with?</h1>
                    <p>We know you love us all equally, but come on, who would you prefer to spend time with?</p>
                </div>
                <div class="button-container">
                    <a class="q4-btn" country="portugal" href="#q5">Chiara</a>
                    <a class="q4-btn" country="italy" href="#q5">Ad + Gian</a>
                    <a class="q4-btn" country="england" href="#q5">Leo</a>
                    <a class="q4-btn" country="france" href="#q5">Trev</a>
                </div>
            </div>
        </section>
        <section class="q5 full-container" id="q5">
            <div class="q5-container content-container">
                <div class="text-container">
                    <h1>How do you like to spend your time?</h1>
                    <p>This is it, the last question, the decider. How do you prefer to spend your time?</p>
                </div>
                <div class="button-container">
                    <a class="q5-btn" country="portugal" href="#reco">Girl Time</a>
                    <a class="q5-btn" country="italy" href="#reco">History</a>
                    <a class="q5-btn" country="england" href="#reco">Hiking</a>
                    <a class="q5-btn" country="france" href="#reco">Ballet</a>
                </div>
            </div>
        </section>
        <section class="reco full-container" id="reco">
            <div class="reco-container content-container">
                <div class="text-container" id="reveal-container">
                    <h1>We think you'd like...</h1>
                    <a id="reveal">Reveal!</a>
                </div>
            </div>
        </section>
        </section>
    </main>
    <script type="text/javascript" src="/js/birthday.js"></script>
</body>
</html>