<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="../css/home.css">
    <title>GC Testing Homepage</title>
    <meta name="description" content="Homepage for GC testing site">
    <meta property="og:image" content="https://giancoppola.github.io/img/home/share-pic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <button class="burger" id="burger">
        <span class="line top"></span>
        <span class="line middle-top"></span>
        <span class="line middle-bottom"></span>
        <span class="line bottom"></span>
    </button>
    <nav class="nav" id="nav">
        <a href="#main-about" class="nav-link">About Me</a>
        <a href="#main-experience" class="nav-link">My Experience</a>
        <a href="#main-projects" class="nav-link">My Projects</a>
        <a href="#main-skillset" class="nav-link">My Skillset</a>
        <a href="#main-contact" class="nav-link">Get in Touch</a>
    </nav>
    <main class="main">
        <section class="main-intro" id="main-intro">
            <div class="main-intro-container content-container">
                <div class="main-intro-container-text">
                    <h1>Hi! I am Gian Coppola</h1>
                    <p>
                        Welcome to my portfolio site, on this page
                        you'll find out more about me, my experience,
                        projects I've worked on, and how to get in
                        touch with me.
                    </p>
                    <a href="#main-about" class="btn btn-pink" id="main-about">Let's begin</a>
                </div>
                <img src="/img/Profile_Pic_w_Halo.png" alt="Picture of me - Gian Coppola" class="main-intro-img">
            </div>
        </section>
        <section class="main-about" id="main-about">
            <div class="main-about-container content-container-narrow">
                <div class="main-about-container-title">
                    <h2>ABOUT ME</h2>
                    <div class="title-line"></div>
                </div>
                <p>
                    Starting my career as a UX Designer, and moving
                    into Digital Project Management, I have accumulated
                    a wide range of digital skills that has helped me
                    deliver best in class digital and design projects
                    both in local and global markets.
                </p>
                <p>
                    I’ve built and maintained strong client relationships,
                    developing new business opportunities through existing
                    clients. I’m eager to be involved in new projects from
                    the creative and conceptual thinking stage, all the way
                    through to delivery. Passionate about working in a team
                    and developing junior members, I have strong experience
                    in both line management and in-house recruitment.
                </p>
            </div>
        </section>
        <section class="main-experience" id="main-experience">
            <div class="main-experience-container content-container">
                <div class="main-experience-container-title">
                    <h2>MY EXPERIENCE</h2>
                    <div class="title-line"></div>
                </div>
                <div class="main-experience-container-center">
                    <p class="year" id="year">2009</p>
                </div>
                <div class="main-experience-container-roles">
                    <div class="main-experience-container-roles-role ud" id="pates">
                        <div class="left-text">
                            <p class="title">Pates Grammar School</p>
                            <p class="">Student</p>
                            <p class="">Attained A, A, B at A Level in Business Studies, Economics, and Geography respectively.</p>
                        </div>
                        <img src="/img/home/pates-white.png" alt="" class="right-img">
                    </div>
                    <div class="main-experience-container-roles-role" id="uob">
                        <img src="/img/home/uob-logo.svg" alt="" class="left-img">
                        <div class="right-text">
                            <p class="title">University of Birmingham</p>
                            <p class="">Student</p>
                            <p class="">Attained a 2:1 in my BA Human Geography degree.</p>
                        </div>
                    </div>
                    <div class="main-experience-container-roles-role ud" id="heyhuman">
                        <div class="left-text">
                            <p class="title">HeyHuman</p>
                            <p class="">Creative Design Intern</p>
                            <p class="">
                                During my two month internship I had the opportunity
                                to work on graphic design, photography, animation, video and
                                storyboarding for both brand upkeep and larger projects, including
                                a well received PG Tips video advert.
                            </p>
                        </div>
                        <img src="/img/home/HH-logo.png" alt="" class="right-img">
                    </div>
                    <div class="main-experience-container-roles-role" id="sapient">
                        <img src="/img/home/sapientnitro.png" alt="" class="left-img">
                        <div class="right-text">
                            <p class="title">SapientNitro</p>
                            <p class="">Creative Design Intern</p>
                            <p class="">
                                During my two month internship I had the opportunity to
                                work on strategic direction and storyboarding for small, focused
                                advertising campaigns.
                            </p>
                        </div>
                    </div>
                    <div class="main-experience-container-roles-role ud" id="hybrideye">
                        <div class="left-text">
                            <p class="title">Hybrid Eye</p>
                            <p class="">Junior UI / UX Designer</p>
                            <p class="">
                                During my 6 month contract as a Junior Designer I worked
                                on website design, wire-framing, graphic design and UI / UX design,
                                focusing on the upcoming rugby world cup.
                            </p>
                        </div>
                        <img src="/img/home/hybrideye-logo-white.svg" alt="" class="right-img">
                    </div>
                    <div class="main-experience-container-roles-role" id="thingser">
                        <img src="/img/home/thingser-logo.png" alt="" class="left-img">
                        <div class="right-text">
                            <p class="title">Thingser</p>
                            <p class="">UI / UX Designer</p>
                            <p class="">
                                Working closely with the CEO and CTO of this startup, I focused
                                on  crafting unique and accessible user experiences, building
                                out the Thingser platform whilst focusing on user experience
                                and overall design direction.
                            </p>
                        </div>
                    </div>
                    <div class="main-experience-container-roles-role ud" id="bluebaboon">
                        <div class="left-text">
                            <p class="title">Blue Baboon</p>
                            <p class="">UX Designer</p>
                            <p class="">
                                Starting as a UX designer, I worked on wireframing, user flows,
                                creative concepting, video and image editing for various web
                                design clients.
                            </p>
                            <p class="">Digital Project Manager</p>
                            <p class="">
                                I quickly transitioned to a Digital Project Manager role as I
                                felt it better fit my skillset, and used tools such as Asana,
                                Slack, Toggl and Freshdesk to manage all creative and development
                                projects for our website clients.
                            </p>
                        </div>
                        <img src="/img/home/blue-baboon-logo.png" alt="" class="right-img">
                    </div>
                    <div class="main-experience-container-roles-role" id="radancy">
                        <img src="/img/home/radancy-logo.svg" alt="" class="left-img">
                        <div class="right-text">
                            <p class="title">Radancy</p>
                            <p class="">Digital Project Manager</p>
                            <p class="">
                                Starting as a Digital Project Manager, I managed website build
                                projects from concepting all the way through to delivery, for
                                both Drupal CMS sites along with sites built on our SaaS platform.
                            </p>
                            <p class="">Senior Digital Project Manager</p>
                            <p class="">
                                Moving in to my role as a Senior within the team, I took on more
                                line management responsibilities, along with managing more complex
                                projects and clients whilst our SaaS platform expands.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-experience-container-navigation">
                    <div class="main-experience-container-navigation-year" id="mobile-year">2009</div>
                </div>
            </div>
        </section>
        <section class="main-projects" id="main-projects">
            <div class="main-projects-container content-container-narrow">
                <div class="main-projects-container-title">
                    <h2>MY PROJECTS</h2>
                    <div class="title-line"></div>
                </div>
                <p>
                    Below are the projects that I’ve worked on in my spare
                    time that (hopefully) demonstrate both my development
                    and in some instances my design skills. All of these
                    have been built 100% by me, bar the use of specific
                    libraries, such as Slick, and third party APIs such
                    as in the Tfl example.
                </p>
                <p>
                    Each project focused on learning or mastering a specific
                    concept or feature within web development, and as I have
                    worked on these over a period of years, they do naturally
                    vary in quality.
                </p>
                <div class="main-projects-container-grid">
                    <div class="main-projects-container-grid-card">
                        <div class="main-projects-container-grid-card-content">
                            <h3>To Do List</h3>
                            <p>
                                Drag and drop to do list using Firebase to enable both
                                sign in via Google, and saving of authenticated users
                                data in the database.
                            </p>
                        </div>
                        <a href="/to-do.html" target="_blank" class="main-projects-container-grid-card-link main-projects-container-grid-card-link-pink">View page</a>
                    </div>
                    <div class="main-projects-container-grid-card">
                        <div class="main-projects-container-grid-card-content">
                            <h3>Barclays DE</h3>
                            <p>
                                Build of the Barclays Hamburg page directly from the Sketch
                                designs, with additional language toggle functionality for
                                EN & DE.
                            </p>
                        </div>
                        <a href="/hamburg.html" target="_blank" class="main-projects-container-grid-card-link main-projects-container-grid-card-link-green">View page</a>
                    </div>
                    <div class="main-projects-container-grid-card">
                        <div class="main-projects-container-grid-card-content">
                            <h3>TFL Bike Points</h3>
                            <p>
                                Search functionality using the Tfl API to find nearby bike
                                hire points, with information on available bikes and docks.
                            </p>
                        </div>
                        <a href="/tfl.html" target="_blank" class="main-projects-container-grid-card-link main-projects-container-grid-card-link-blue">View page</a>
                    </div>
                    <div class="main-projects-container-grid-card">
                        <div class="main-projects-container-grid-card-content">
                            <h3>Cotravel</h3>
                            <p>
                                Build based upon a desktop Sketch design from Dribble, this
                                is a fixed page build that works responsively with different
                                screen sizes.
                            </p>
                        </div>
                        <a href="/cotravel.html" target="_blank" class="main-projects-container-grid-card-link main-projects-container-grid-card-link-blue">View page</a>
                    </div>
                    <div class="main-projects-container-grid-card">
                        <div class="main-projects-container-grid-card-content">
                            <h3>RD Test Page</h3>
                            <p>
                                Page build based upon the design provided for the Radancy
                                developer test, both mobile and desktop designs were provided.
                            </p>
                        </div>
                        <a href="/radancy-test-page.html" target="_blank" class="main-projects-container-grid-card-link main-projects-container-grid-card-link-green">View page</a>
                    </div>
                    <div class="main-projects-container-grid-card">
                        <div class="main-projects-container-grid-card-content">
                            <h3>Meal Picker</h3>
                            <p>
                                Work in progress tool for me and my girlfriend to easily
                                decide what meals to cook each week, and provide easy access
                                to recipes.
                            </p>
                        </div>
                        <a href="/meal-picker.html" target="_blank" class="main-projects-container-grid-card-link main-projects-container-grid-card-link-pink">View page</a>
                    </div>
                </div>
                <div class="main-projects-container-navigation">
                </div>
            </div>
        </section>
        <section class="main-skillset" id="main-skillset">
            <div class="main-skillset-container content-container-narrow">
                <div class="main-skillset-container-title">
                    <h2>MY SKILLSET</h2>
                    <div class="title-line"></div>
                </div>
                <p>
                    The below columns outline the technologies that I am
                    comfortable using, have a working knowledge of, and
                    am still currently learning.
                </p>
                <div class="main-skillset-container-grid">
                    <div class="main-skillset-container-grid-card">
                        <h3 class="green">Confident</h3>
                        <ul class="main-skillset-container-grid-card-list">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>JSON</li>
                            <li>XML</li>
                        </ul>
                    </div>
                    <div class="main-skillset-container-grid-card">
                        <h3 class="blue">Workable</h3>
                        <ul class="main-skillset-container-grid-card-list">
                            <li>JQuery</li>
                            <li>Razor</li>
                            <li>Firebase</li>
                            <li>Python</li>
                            <li>C#</li>
                        </ul>
                    </div>
                    <div class="main-skillset-container-grid-card">
                        <h3 class="pink">Learning</h3>
                        <ul class="main-skillset-container-grid-card-list">
                            <li>SQL</li>
                            <li>React</li>
                        </ul>
                    </div>
                </div>
                <div class="main-skillset-container-navigation">
                </div>
            </div>
        </section>
        <section class="main-contact" id="main-contact">
            <div class="main-contact-container content-container-narrow">
                <div class="main-contact-container-title">
                    <h2>GET IN TOUCH</h2>
                    <div class="title-line"></div>
                </div>
                <p>
                    Interested in my prior experience or the projects I’ve
                    been working on? Feel free to get in touch via one of
                    the following methods!
                </p>
                <div class="main-contact-container-links">
                    <div class="main-contact-container-links-link">
                        <a href="mailto:giancoppola@hotmail.co.uk">Email me</a>
                    </div>
                    <div class="main-contact-container-links-link">
                        <a href="https://www.linkedin.com/in/giancoppola/" target="_blank">Find me on LinkedIn</a>
                    </div>
                    <div class="main-contact-container-links-link">
                        <a href="https://instagram.com/giancoppola" target="_blank">Instagram</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="../js/home.js"></script>
</body>

<footer>
    <div class="footer-info">
        <p>Designed and developed by Gian Coppola</p>
    </div>
    <div class="footer-links">
        <a href="mailto:giancoppola@hotmail.co.uk" target="_blank">Email</a>
        <a href="https://www.linkedin.com/in/giancoppola/" target="_blank">LinkedIn</a>
        <a href="https://instagram.com/giancoppola" target="_blank">Instagram</a>
    </div>
</footer>
