<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/meal_picker.css">
  <title>Meal Picker</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <main>
    <div class="bg-anim" id="bg-anim"></div>
    <section class="content-container">
      <h1>Let's pick a meal</h1>
      <div class="button-container">
        <div class="button-row button-row-type" id="type">
          <button class="btn btn-veggie" id="veggie">Veggie</button>
          <button class="btn btn-Tany" id="Tany">Any</button>
          <button class="btn btn-meat" id="meat">Meat</button>
        </div>
        <div class="button-row button-row-length" id="length">
          <button class="btn btn-quick" id="quick">Quick</button>
          <button class="btn btn-Lany" id="Lany">Any</button>
          <button class="btn btn-long" id="long">Long</button>
        </div>
        <button class="btn btn-submit" id="submit">Submit</button>
      </div>
      <!-- <p class="alert" id="alert"></p> -->
    </section>
    <dialog class="recipe-modal" id="recipe-modal"></dialog>
  </main>
  <script type="text/javascript" src="../js/meal_picker.js"></script>
</body>

<footer>

</footer>
