<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/barcs-tech-slider-18-11-22.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <title>Main Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <section id="main_content">
        <!-- CSS in css\barcs-tech-slider-18-11-22.css -->
        <div class="barcs_tech_slider" id="barcs_tech_slider">
            <h1>Tech in action</h1> 
            <p class="tech_slider_intro margin-bottom-50">From building solutions at scale to maintaining superior systems, all while driving change: we want to share the stories of our inspirational colleagues. We’re united in a common purpose of harnessing tech to empower our clients and customers, but every career at Barclays is different. Learn about our inclusive culture and the drive of our colleagues across the globe. To read more stories about Barclays Technology, <a href="http://search.jobs.barclays/technology" target="_blank">click here.</a></p>
            <div class="tech-slider">
                <div class="tech_slider_slide slide_1">
                    <h3>Sustainable technology. <br>It's happening <br>here.</h3>
                    <a class="btn-white" href="/itshappeninghere-techsustainability">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_2">
                    <h3>The nanosecond that makes a difference. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-marketstechnology">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_3">
                    <h3>21m customer transactions every Tuesday. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-commandcentre">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_4">
                    <h3>The frontline of cyberwarfare. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-cybersecurity">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_5">
                    <h3>Democratising data. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-democratisingdata">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_6">
                    <h3>Tech with real world impact. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-financialassistance">Learn more</a>
                </div>
                <div class="tech_slider_slide slide_7">
                    <h3>Engineering excellence. It's happening here.</h3>
                    <a class="btn-white" href="/itshappeninghere-engineeringexcellence">Learn more</a>
                </div>
            </div>
            <div class="slider-controls">
                <div id="prev"></div>
                <div id="slick-dots"></div>
                <div id="next"></div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</body>

<footer>

</footer>