@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
	--blue-col: 105, 182, 240;
	--pink-col: 255, 246, 251;
}
*{
	font-family: 'Lato', sans-serif;
}
body{
    min-height: 100vh;
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.container{
    margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& .quote{
		& blockquote{
			max-width: 1000px;
			position: relative;
			color: white;
			text-align: center;
			font-size: 1.8rem;
			font-weight: 600;
			font-style: italic;
			line-height: 2.5rem;
			&::selection{
				background-color: rgb(var(--blue-col));
			}
			&::before{
				color: rgba(var(--pink-col));
				position: absolute;
				font-size: 15rem;
				content: open-quote;
				margin: auto 0.2rem;
				left: 1rem;
				top: 3rem;
				z-index: -1;
				opacity: 0.6;
			}
			&::after{
				color: rgb(var(--pink-col));
				font-size: 15rem;
				position: absolute;
				right: 2rem;
				bottom: -4rem;
				content: close-quote;
				margin: auto 0.2rem;
				z-index: -1;
				opacity: 0.6;
			}
		}
	}
	& h1{
		&::selection{
			background-color: rgb(var(--blue-col));
		}
		color: white;
		text-align: center;
		font-weight: 900;
		font-size: 4rem;
		margin: 2rem auto;
	}
	& .grid-container{
		&-grid{
			margin: 4rem auto;
			width: 100%;
			max-width: 900px;
			display: grid;
			grid-template-columns: 33.3% 33.3% 33.3%;
			justify-items: center;
			gap: 2rem;
			&-item{
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 350px;
				width: 100%;
				background: rgb(255,255,255);
				background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,246,251,1) 100%);
				border: solid rgba(255,246,251,1) 2px;
				box-shadow: 0 0 30px 2px black;
				border-radius: 20px;
				filter: grayscale(100%);
				transition: all 0.4s;
				& svg{
					margin: auto;
				}
				& p{
					font-size: 1rem;
					line-height: 1.4rem;
					font-weight: 600;
					margin: auto 2rem;
				}
				& a{
					font-size: 1rem;
					line-height: 1.4rem;
					font-weight: 900;
					margin: auto 2rem;
					text-decoration: none;
					color: rgb(var(--blue-col));
					&::after{
						display: block;
						width: 0rem;
						height: 3px;
						background-color: rgb(var(--blue-col));
						content: '';
						transition: all 0.4s;
					}
				}
				&:hover{
					transform: scale(1.025);
					border: solid rgba(250, 235, 243,1) 2px;
					box-shadow: 0 0 30px 2px rgba(var(--blue-col), 0.5);
					filter: grayscale(0);
					& a::after{
						display: block;
						width: 8rem;
						height: 3px;
						background-color: rgb(var(--blue-col));
						content: ''
					}
				}
			}
		}
	}
}

@media all and (max-width: 800px) {
	.container {
		& .grid-container{
			&-grid{
				display: block;
				margin: auto;
				height: 300px;
				max-width: 800px;
				width: 100%;
				gap: 0;
				&-item{
					height: 150px;
					width: 100%;
				}
			}
		}
	}
}